body {
  background-color: black;
}

#title .container-fluid {
  padding: 1% 3% 1% 3%;
}

.why {
  color: azure;
}

.hook {
  padding: 15% 7%;
}

#calling-card {
  background-color: bisque;
}

.green-nav {
  background-color: #008036;
}

.green-section {
  background-color: #008036;
}
