body {
  background-color: black;
}

#title .container-fluid {
  padding: 0% 3% 1% 3%;
}

.why {
  color: azure;
}

.hook {
  padding: 3% 3.5% 0% 3.5%;
  text-align: center;
}

#calling-card {
  background-color: bisque;
}

.green-nav {
  background-color: #008036;
}

.green-section {
  background-color: #008036;
}

.hook-btn {
  font-size: 1em;
  padding: 15px 25px;
}

.hook-btn1 {
  margin: 50px 10px 45px;
}

.hook-btn2 {
  margin: 50px 10px 45px;
}
/* 
@media (max-width: 600px) and (min-width: 450px) {
  .hook-btn1 {
    margin: 50px 10px 45px;
  }

  .hook-btn2 {
    margin: 50px 10px 45px;
  }
} */

/* desktop */
@media (min-width: 860px) {
  .querycheck {
    background-color: blue;
  }
  .banner {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .hook-btn {
    margin: 80px 100px 120px 100px;
    font-size: 1.5em;
    padding: 15px 25px;
  }
}

.banner-people {
  background-image: url(https://i.imgur.com/ChjQmn9.jpg);
  background-repeat: repeat-x;
  width: 100%;
  margin: 0%;
  height: 48px;
}

.protest {
  background-image: url("https://i.imgur.com/0CE1S2d.jpg");
  min-height: 700px;

  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;

  /* Center the background image */
  background-position: center;

  /* Set the background image to no repeat */
  background-repeat: no-repeat;

  /* Scale the background image to be as large as possible */
  background-size: cover;
}

/* .defund {
 
} */

.center-btn {
  text-align: center;
  margin-top: 30px;
}
