body {
  background-color: black;
}

#title .container-fluid {
  padding: 0% 3% 1% 3%;
}

.why {
  color: azure;
}

.hook {
  padding: 3% 3.5% 5% 3.5%;
  text-align: center;
}

#calling-card {
  background-color: bisque;
}

.green-nav {
  background-color: #008036;
}

.green-section {
  background-color: #008036;
}

@media (min-width: 600px) {
  .querycheck {
    background-color: blue;
  }
  .banner {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

.hook-btn {
  margin: 50px 50px;
  font-size: 2em;
  padding: 15px 25px;
}
